{% extends 'base.html' %}

{% block content %}


<h2>Designer Corner</h2>

<p>Here, you can upload designs for our fans to vote on.</p>
<p>Designs with the highest votes will be <i>highly considered</i> for our next design.</p>


<form action="" method="post" enctype="multipart/form-data">
  {{form.hidden_tag()}}

  <div class="form-group">
    <div class="custom-file">
      {{form.file(class="custom-file-input", id="designupload")}}
  <label class="custom-file-label col-sm-4" for="designupload">Choose file</label>
    <!-- {{form.file(class="form-control-file", id="designupload")}}<br> -->
    </div>
    <br><br>
    {{form.file_submit(class="btn btn-primary")}}

</div>
</form>

<br>


{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
<div class="alert alert-{{category}} col-sm-6" role="alert">
{{ message }}
</div>
{% endfor %}
{% endif %}
{% endwith %}
<script>
  $('#designupload').on('change',function(){
    //get the file name
    var fileName = $(this).val().replace('C:\\fakepath\\'," ");
  //replace the "Choose a file" label
   $(this).next('.custom-file-label').html(fileName);
  })
</script>

{% endblock %}
